{% extends 'layout.html.twig' %}
{% block title "mes articles" %}
    

{% block body %}
<h1>Bienvenue sur le blog</h1>
<ul>
    <li><a href="{{ path('blog.show', {slug: 'zeaezaeze0-9asadezd'})}}">article1</a></li>
    <li>article1</li>
    <li>article1</li>
    <li>article1</li>
    <li>article1</li>
</ul>
{% endblock %}

